* {
    font-family: 'Courier New', Courier, monospace;
}

/* Menu/Navigation */
.title-bar {
    width: 100%;
    z-index: 10;
    transition: height .2s ease;
    height: 4.5em;
    background-color: #e0b701;
    font-family: 'Courier New', Courier, monospace;
    color: whitesmoke;
  }

  .white {
      color: whitesmoke;
      font-weight: 700;
  }

  .active {
      font-style: italic;
  }
  /* END Menu/Navigation */


  /* HERO */
.hero {
    height: 500px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/pexels-content-pixie-2967810.jpg");
    background-size: cover;
    background-position: center;
}

h1 {
    padding-top: 100px;
    padding-left: 100px;
    margin: auto;
    font-family: 'Sacramento', cursive;
    font-size: 75px;
}
/* END Hero */

/* About Me*/
.profilephoto {
    border-radius: 170px;
    padding: 10px;
    margin: 10px;
}

h4 {
    font-family: 'Courier New', Courier, monospace;
}

p {
    padding: 20px;
}
/* END About Me*/

/* Footer */
footer {
    padding: 10px;
    height: 100px;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-size: 14px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: #c7c7c7;
    color: whitesmoke;
}
/* END Footer */


/* HERO Portfolio Page*/
.hero-portfolio {
    height: 500px;
    width: 100%;
    background-image: url("../images/pexels-pixabay-373076.jpg");
    background-size: cover;
    background-position: center;
}

.profportfolio{
    padding-top: 275px;
    padding-left: 200px;
    margin: auto;
}
/* END Hero Portfolio Page*/

/* HERO Contact Page */
.hero-contact {
    height: 400px;
    width: 100%;
    background-image: url("../images/pexels-miguel-Ã¡-padriÃ±Ã¡n-1591062.jpg");
    background-size: cover;
    background-position: center;
}
/* END Hero Contact Page */

/* Contact Form */
.callout{
    align-items: center;
}
/* END Contact Form */

