
/* Menu/Navigation */
.title-bar {
    width: 100%;
    z-index: 10;
    transition: height .25s ease;
    height: 4.5em;
    background-color: #e0b701;
    color: whitesmoke;
  }
  
  .title-bar .title-bar-right, 
  .title-bar .title-bar-left {
    transition: padding-top .25s ease;
    padding-top: 1.4em;
  }
  .title-bar.shrink {
    height: 3em;
  }
  .title-bar.shrink .title-bar-right, 
  .title-bar.shrink .title-bar-left {
    padding-top: 0em;
  }
  .title-bar .dropdown.menu li {
    float: left;
  }
  .title-bar .dropdown.menu .is-dropdown-submenu {
    border: none;
    background-color: #e0b701;
  }
  #root {
    margin-top: 2em;
  }
  /* END Menu/Navigation */


  /* HERO */
  .hero {
    height: 500px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/pexels-content-pixie-2967810.jpg");
    background-size: cover;
    background-position: center;
}
/* END Hero */
