* {
    font-family: 'Courier New', Courier, monospace;
}

/* Menu/Navigation */
.title-bar {
    width: 100%;
    z-index: 10;
    transition: height .2s ease;
    height: 4.5em;
    background-color: #e0b701;
    font-family: 'Courier New', Courier, monospace;
    color: whitesmoke;
  }

  .white {
      color: whitesmoke;
      font-weight: 700;
  }

  .active {
      font-style: italic;
      color: grey;
  }

  .white:hover {
      color: grey;
  }
  /* END Menu/Navigation */


  /* HERO About Me */
.hero {
    height: 500px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/pexels-content-pixie-2967810.jpg");
    background-size: cover;
    background-position: center;
}

h1 {
    font-family: 'Sacramento', cursive;
    font-size: 75px;
}

.h1name {
    padding-top: 100px;
    padding-left: 100px;
    margin: auto;
}

/* END Hero About Me */

/* About Me*/
.profilephoto {
    border-radius: 170px;
    padding: 10px;
    margin: 10px;
}

h4 {
    font-family: 'Courier New', Courier, monospace;
}

p {
    padding: 20px;
}
/* END About Me*/

/* HERO Portfolio Page*/
.hero-portfolio {
    height: 500px;
    width: 100%;
    background-image: url("../images/pexels-pixabay-373076.jpg");
    background-size: cover;
    background-position: center;
}

.h1portfolio, .h1contact {
    padding-top: 275px;
    padding-left: 200px;
    margin: auto;
}
/* END Hero Portfolio Page*/


/* CARDS Portfolio */
#cardbtn {
    margin: 0 auto;
    border-radius: 10px;
}
/* END Cards Portfilio */

/* HERO Resume */
.hero-resume {
    height: 450px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/pexels-tirachard-kumtanom-733852.jpg");
    background-size: cover;
    background-position: center;
}

.h1resume {
    text-align: center;
    padding-top: 200px;
    left: 50%;
}

#resumebtn {
    border-radius: 10px;
    position: relative;
    left: 50%;
}
/* END Hero Resume */


/* HERO Contact Page */
.hero-contact {
    height: 500px;
    width: 100%;
    background-image: url("../images/pexels-238118.jpg");
    background-size: cover;
    background-position: center;
}
/* END Hero Contact Page */

/* Contact Form */
#contact {
    margin: auto;
}

#submitBtn {
    border-radius: 10px;
}
/* END Contact Form */

/* Footer */
footer {
    padding: 10px;
    height: 200px;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-size: 14px;
    font-family: 'Courier New', Courier, monospace;
    background-color: #c7c7c7;
    color: white;
}

h5 {
    font-family: 'Courier New', Courier, monospace;
}

.githubBtn, .linkedinBtn {
    color: black;
    font-size: 60px;

}

.githubBtn:hover, .linkedinBtn:hover {
    color: #e9bf04;
}
/* END Footer */

@media only screen and (max-width: 600px) {
    .h1name {
        font-size: 40px;
        width: 60%;
        padding-top: 20%;
        padding-left: 5%;
        margin: auto;
    }
    
    .h1portfolio, .h1contact {
        font-size: 40px;
        padding-top: 55%;
        padding-left: 20%;
        margin: auto;
    }
}